.footer-content{
    height: 270px;
    margin-top: 50px;
    background-color: #1f1f1f;  
    color:  #e5e7eb;
    display: flex;
    justify-content: space-evenly;
    padding-top:30px ;
    font-size: 16px;
    bottom: 0px;
    width: 100%;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 22%;
}
.footer-left h1{
    font-size: 35px;
}
.footer-left img{
    height: 34px;
    margin-right: 20px;
}

.footer-center{
    display: flex;
    flex-direction: column;
    width: 22%;
    gap: 15px;
    align-items: center; 
}
.footer-center li{
    list-style: none;
    padding-bottom: 10px;
}

.footer-right{
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 22%;
    align-items: center;
}
@media (max-width:950px) {
    .footer-left p{
     display: none;
}
}
@media (max-width:750px) {
.footer-left h1{
    font-size: 27px;
}
.footer-left img{
    height: 28px;
}

.footer-center h2{
  font-size: 20px;
   font-weight: 500;
}

.footer-right h2{
  font-size: 20px;
  font-weight: 500;
}
}
@media (max-width:500px) {
   .footer-content{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:30px ;
}
.footer-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.footer-left-icon{
    display: flex;
}
.footer-center{
    width: 100%;
}
.footer-center ul{
    display: flex;
    gap: 30px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}
}