.myOrders {
  width: 80%;
  margin: 180px auto;
}
.orders-title {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: tomato;
}
.myOrders-order {
  display: flex;
  align-items: center;
  gap: 25px;
  border: 1px solid #eee;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  transition: 0.3s ease;
}
.myOrders-order:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}
.order-img {
  width: 45px;
}
.order-items {
  flex: 2;
  font-size: 16px;
  color: #555;
}
.order-amount {
  font-weight: 600;
  min-width: 80px;
}
.order-count {
  color: gray;
  font-size: 14px;
}
.order-status {
  list-style: disc;
  padding-left: 20px;
}
.order-status  {
  color: #ff4d4d;
  font-weight: 500;
}
@media (max-width:800px){
.myOrders {
  width: 98%;
  margin: 10px auto;
}
.myOrders-order {
  display: flex;
  flex-wrap: wrap;
}
.order-status {
  margin-top: 0px;
}
.orders-title {
  font-size: 22px;
  font-weight: 500;
}
}